{%load static%}
<style>


    /* resets */
    *,
    *:before,
    *:after {
    box-sizing: border-box;
    }




    .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    }

    /

    #animated input[type=text]:focus {
        width: 80%;
    }


    /* ===== 2. standard seachbox ==== */

    .search-txt-input{
    padding: 12px 20px;
    font-size:14px;
    border:1px solid #c8c8c8;
    border-right:0px;
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    width: 200px;
    }
    .search-button {
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #c8c8c8;
    border-right: 0px;
    background: #f45c03;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    position: relative;
    left:-5px;
    }
    .search-button:hover {
    text-decoration: none;
    background: #f67c35;
    }

    /* Fixes submit button height problem in Firefox */
    .search-button::-moz-focus-inner {
    border: 0;
    }




    /* === 5. standard seachbox with icon animated === */

    #standard-3 .search-txt-input{
    width: 80%;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    }

    #standard-3 input[type=text]:focus {
        width: 90%;
    }


</style>

<div class="container">   
    

    <form id="standard-3" method=POST action="search" id="form2">
        {% csrf_token %}
        <input type="text" class="search-txt-input" name="search" placeholder="Search here..." id="tags">
        <button type="submit" class="btn btn-outline-primary">search</button
    </form>
</div>
<script>
    $( function() {
        var availableTags = [
            {% for language in posts %}
                "{{language.name}}",
            {% endfor %}
        ];
        $( "#tags" ).autocomplete({
        source: availableTags
        });
    } );
</script>